<section id="contenedorBasico">
<h1>Listing distritos</h1>
<p id="prueba"> PRUEBA </p>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @distritos.each do |distrito| %>
  <tr>
    <td><%= distrito.name %></td>
    <td><%= link_to 'Show', distrito %></td>
    <td><%= link_to 'Edit', edit_distrito_path(distrito) %></td>
    <td><%= link_to 'Destroy', distrito, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Distrito', new_distrito_path %>
</section>