<%= simple_form_for(@local) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name,:label=> "Nombre : " %>
    <%= f.input :address,:label=> "Direccion : " %>
    <%= f.association :district,:label=> "Distrito : " %>
    <%= f.input :phone,:label=> "Telefono fijo : " %>
  </div>

  <div class="actions">
    <%= f.submit 'Crear Local'  %>
  </div>
<% end %>
