<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @local.name %>
</p>

<p>
  <b>Address:</b>
  <%= @local.address %>
</p>

<p>
  <b>District:</b>
<<<<<<< HEAD
  <%= @local.district.name %>
</p>

<p>
  <b>Google maps address:</b>
  <%= @local.google_maps_address %>
=======
  <%= @local.district.name.to_s %>
>>>>>>> dd25ea65578fb0f4860e541525e93f6f4c5b0328
</p>

<p>
  <b>Phone:</b>
  <%= @local.phone %>
</p>


<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
