<section id="contenedorBasicoLocales">
<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @local.name %>
</p>

<p>
  <b>Direccion:</b>
  <%= @local.address %>
</p>

<p>
  <b>Distrito:</b>
  <%= @local.district.name.to_s %>
</p>

<p>
  <b>Phone:</b>
  <%= @local.phone %>
</p>

<%= gmaps4rails(@json) %>
<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
</section>