<section id="contenedorBasico">
<%= simple_form_for(@owner) do |f| %>
 <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

	       <ul>
      <% if(@owner).errors.any? %>
	<% @owner.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.input :name,:label=> "Nombres : "  %>
    <%= f.input :lastname,:label=>"Apellidos : " %>
    <%= f.association:genere, :label=> "Genero : ", :as => :radio %>
    <%= f.association :identity_card_type, :label=> "Tipo de Documento : " %>
    <%= f.input :number_identity_card, :label=> "Numero de Documento : " %>
    <%= f.input :email, :label=> "Correo Electronico : "%>
    <%= f.input :email_confirmation, :label=> "Confirmar Correo Electronico : "%>
    <%= f.input :password, :label=> "Password : " %>
    <%= f.input :password_confirmation, :label=> "Confirmar Password : " %>
    <%= f.input :birthday, :label => "Fecha de Nacimiento : "  %>
    <%= f.submit 'Aceptar'  %>
<% end %>
</section>