<%= simple_form_for(@owner) do |f| %>
 <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% if(@owner).errors.any? %>
	<% @owner.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name,:label=> "Nombres : "  %>
  </div>
  <div class="field">
    <%= f.input :lastname,:label=>"Apellidos : " %>
  </div>
  <div class="field">
    <%= f.association:genere, :label=> "Genero : ", :as => :radio %>
  </div>
  <div class="field">
    <%= f.association :identity_card_type, :label=> "Tipo de Documento : " %>
  </div>
  <div class="field">
    <%= f.input :number_identity_card, :label=> "Numero de Documento : " %>
  </div>
  <div class="field">
    <%= f.input :email, :label=> "Correo Electronico : "%>
  </div>
  <div class="field">
    <%= f.input :email_confirmation, :label=> "Confirmar Correo Electronico : "%>
  </div>
  <div class="field">
    <%= f.input :password, :label=> "Password : " %>
  </div>
   <div class="field">
    <%= f.input :password_confirmation, :label=> "Confirmar Password : " %>
  </div>
  <div class="field">
    <%= f.input :birthday, :label => "Fecha de Nacimiento : "  %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear Dueno'  %>
  </div>
<% end %>
