<section id="contenedorBasico">
<h1>Panel de control Propietario de Canchitas</h1>
<section id="datosGeneralesPanel">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @owner.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @owner.lastname %>
</p>

<p>
  <b>Genere:</b>
  <%= @owner.genere.name.to_s %>
</p>

<p>
  <b>Identity card type:</b>
  <%= @owner.identity_card_type.name.to_s %>
</p>

<p>
  <b>Number identity card:</b>
  <%= @owner.number_identity_card %>
</p>

<p>
  <b>Email:</b>
  <%= @owner.email %>
</p>

<p>
  <b>Password:</b>
  <%= @owner.password %>
</p>

<p>
  <b>Birthday:</b>
  <%= @owner.birthday %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
</section>
  <section id="datosOpcionesPanel">
    <div id="buttons">
                        <div id="button_left" align="center">
                            <%= link_to "Locales", locals_path %>
                        </div>
                        <div id="button_left" align="center">
                             <%= link_to "Canchitas", sportsfields_path %>
                        </div>
                        <div id="button_left" align="center">
                            <%= link_to "Reservas", locals_path %>
                        </div>
                        
                        <div class="clear"></div>
                    </div>

  </section>