<h1>Listado de Tarifas</h1>

<table>
  <tr>
    
    <th>Promocion</th>
    <th>Dia semana</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tarifas.each do |tarifa| %>
  <tr>
    
    <td><%= tarifa.promocion %></td>
    <td><%= tarifa.dia_semana.name %></td>
    <td><%= tarifa.start_time.strftime("%H:%M") %></td>
    <td><%= tarifa.end_time.strftime("%H:%M") %></td>
    <td><%= tarifa.price %></td>
    <td><%= link_to 'Mostrar', tarifa %></td>
    <td><%= link_to 'Editar', edit_tarifa_path(tarifa) %></td>
    <td><%= link_to 'Eliminar', tarifa, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tarifa', new_tarifa_path %>
