<section id="contenedorBasico">
<%= simple_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.input :name, :label=> "Nombres : " %><br /> 
    <%= f.input :lastname, :label=>"Apellidos : "%><br />
    <%= f.association :genere, :label=>"Genero : "%><br />
    <%= f.association :identity_card_type, :label=> "Tipo de Documento : " %><br />
    <%= f.input :number_identity_card, :label=> "Numero de Documento : " %><br />
    <%= f.input :address, :label=> "Direccion : " %>
    <%= f.association :district, :label=> "Distrito : " %><br />
    <%= f.input :email, :label=> "Correo Electronico : " %>
    <%= f.input :email_confirmation, :label=> "Confirmar Correo Electronico : " %>
    
    <%= f.input :password, :label=> "Password : "  %><br />
    <%= f.input :password_confirmation, :label=> "Confirmar Password : "  %><br />
    <%= f.input :birthday, :label => "Fecha de Nacimiento : " %>
    <%= f.input :phone, :label => "Telefono : " %><br />
    <%= f.submit 'Crear Cliente' %>
  
<% end %>
</section>