<section id="contenedorBasico">
<h1>Historial de Alquileres</h1>

<table>
  <tr>
    <th>Cancha</th>
    <th>Dia semana</th>
    <th>Star time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    
  </tr>

<% @alquilers.each do |alquiler| %>
  <tr>
    <td><%= alquiler.cancha.name %></td>
    <td><%= alquiler.dia_semana.name %></td>
    <td><%= alquiler.star_time.strftime("%H:%M") %></td>
    <td><%= alquiler.end_time.strftime("%H:%M") %></td>
    <td><%= link_to 'Detalles', alquiler %></td>
    <td><%= link_to 'Eliminar', alquiler, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alquiler', new_alquiler_path %>
</section>