<section id="contenedorBasico">
<h1>Lista de Campos deportivos</h1>

<table border="1">
  <tr>
    <th>Nombre</th>
    <th>Local</th>
    <th>Caracteristica</th>
    <th>Lun</th>
	<th>Inicio</th>
    <th>Fin</th>
    <th>Mar</th>
	<th>Inicio</th>
    <th>Fin</th>
    <th>Mie</th>
	<th>Inicio</th>
    <th>Fin</th>
    <th>Jue</th>
	<th>Inicio</th>
    <th>Fin</th>
    <th>Vie</th>
	<th>Inicio</th>
    <th>Fin</th>
    <th>Sab</th>    
	<th>Inicio</th>
    <th>Fin</th>
	<th>Dom</th>    
    <th>Inicio</th>
    <th>Fin</th>
    <th>Imagen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sportsfields.each do |sportsfield| %>
  <tr>
    <td><%= sportsfield.name %></td>
    <td><%= sportsfield.local %></td>
    <td><%= sportsfield.feature %></td>
    <td><%= sportsfield.monday %></td>
	<td><%= sportsfield.mon_start_time %></td>
    <td><%= sportsfield.mon_end_time %></td>
    <td><%= sportsfield.tuesday %></td>
	 <td><%= sportsfield.tue_start_time %></td>
    <td><%= sportsfield.tue_end_time %></td>
    <td><%= sportsfield.wednesday %></td>
	 <td><%= sportsfield.wed_start_time %></td>
    <td><%= sportsfield.wed_end_time %></td>
    <td><%= sportsfield.thursday %></td>
	<td><%= sportsfield.thu_start_time %></td>
    <td><%= sportsfield.thu_end_time %></td>
	<td><%= sportsfield.friday %></td>
	<td><%= sportsfield.fri_start_time %></td>
    <td><%= sportsfield.fri_end_time %></td>
    <td><%= sportsfield.saturday %></td>
	<td><%= sportsfield.sat_start_time %></td>
    <td><%= sportsfield.sat_end_time %></td>
    <td><%= sportsfield.sunday %></td>
    <td><%= sportsfield.sun_start_time %></td>
    <td><%= sportsfield.sun_end_start %></td>
    <td><%= sportsfield.imagen %></td>
    <td><%= link_to 'Show', sportsfield %></td>
    <td><%= link_to 'Edit', edit_sportsfield_path(sportsfield) %></td>
    <td><%= link_to 'Destroy', sportsfield, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear Campo', new_sportsfield_path %>
</section>