<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sportsfield.name %>
</p>

<p>
  <b>Local:</b>
  <%= @sportsfield.local %>
</p>

<p>
  <b>Feature:</b>
  <%= @sportsfield.feature %>
</p>

<p>
  <b>Monday:</b>
  <%= @sportsfield.monday %>
</p>

<p>
  <b>Tuesday:</b>
  <%= @sportsfield.tuesday %>
</p>

<p>
  <b>Wednesday:</b>
  <%= @sportsfield.wednesday %>
</p>

<p>
  <b>Thursday:</b>
  <%= @sportsfield.thursday %>
</p>

<p>
  <b>Friday:</b>
  <%= @sportsfield.friday %>
</p>

<p>
  <b>Saturday:</b>
  <%= @sportsfield.saturday %>
</p>

<p>
  <b>Sunday:</b>
  <%= @sportsfield.sunday %>
</p>

<p>
  <b>Mon time start:</b>
  <%= @sportsfield.mon_time_start %>
</p>

<p>
  <b>Mon time end:</b>
  <%= @sportsfield.mon_time_end %>
</p>

<p>
  <b>Tue time start:</b>
  <%= @sportsfield.tue_time_start %>
</p>

<p>
  <b>Tue time end:</b>
  <%= @sportsfield.tue_time_end %>
</p>

<p>
  <b>Wed time start:</b>
  <%= @sportsfield.wed_time_start %>
</p>

<p>
  <b>Wed time end:</b>
  <%= @sportsfield.wed_time_end %>
</p>

<p>
  <b>Thu time start:</b>
  <%= @sportsfield.thu_time_start %>
</p>

<p>
  <b>Thu time end:</b>
  <%= @sportsfield.thu_time_end %>
</p>

<p>
  <b>Fri time start:</b>
  <%= @sportsfield.fri_time_start %>
</p>

<p>
  <b>Fri time end:</b>
  <%= @sportsfield.fri_time_end %>
</p>

<p>
  <b>Sat time start:</b>
  <%= @sportsfield.sat_time_start %>
</p>

<p>
  <b>Sat time end:</b>
  <%= @sportsfield.sat_time_end %>
</p>

<p>
  <b>Sun time start:</b>
  <%= @sportsfield.sun_time_start %>
</p>

<p>
  <b>Sun time end:</b>
  <%= @sportsfield.sun_time_end %>
</p>

<p>
  <b>Imagen:</b>
  <%= @sportsfield.imagen %>
</p>


<%= link_to 'Edit', edit_sportsfield_path(@sportsfield) %> |
<%= link_to 'Back', sportsfields_path %>
