<%= simple_form_for(@cancha) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

    <%= f.input :name %>

    <%= f.association :local %>

    <%= f.input :caracteristicas %>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
