<section id="contenedorBasico">
<%= form_for @search do |f| %>   
<p>   
<%= f.label :Name %>   
<%= f.text_field :name_contains %>   
</p>   
<p class="button"><%= f.submit "Buscar" %> </p>   
<% end %>
<h1>Listado de Canchas </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Caracteristicas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @canchas.each do |cancha| %>
  <tr>
    <td><%= cancha.name %></td>\
    <td><%= cancha.caracteristicas %></td>
    <td><%= link_to 'Mostrar', cancha %></td>
    <td><%= link_to 'Tarifas', tarifasCanchita_path(cancha.id) %></td>
    <td><%= link_to 'Horario', horarioCanchita_path(cancha.id) %></td>
    <td><%= link_to 'Reservar', reservarCanchas_path %></td>
  
  </tr>
<% end %>
</table>

<br />

 

</section>