<%= simple_form_for(@canchitum, :url => canchita_path,  
:html => { :multipart => true } ) do |f| %>

  <div class="inputs">

    <%= f.input :name %>

    <%= f.association :local %>

    <%= f.input :caracteristicas %>

    <%= f.file_field  :foto %>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
