<h1>Listing generes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @generes.each do |genere| %>
  <tr>
    <td><%= genere.name %></td>
    <td><%= link_to 'Show', genere %></td>
    <td><%= link_to 'Edit', edit_genere_path(genere) %></td>
    <td><%= link_to 'Destroy', genere, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Genere', new_genere_path %>
