<!DOCTYPE html>
<html  class="no-js" lang="es">
<head>
  <title>Auth</title>
  <meta charset="utf-8">

  <%= stylesheet_link_tag "estilos" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<header>
		<div id="designmodo">
        <div class="monitor">
            <div class="canvas">
                <div class="icon">
                    <div class="fbox mask">
                        <div class="design">Fulbito</div>
                        <div class="modo">Facil</div>
                    </div>
                    <div class="fbox">
                        <div class="design">Fulbito</div>
                        <div class="modo">Facil</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
		
		<section id="menuPrincipal">
		<nav id="navPrincipal">
			<ul >
				<li><%= link_to "Ingresar", log_in_path %></li>
			 	<li><%= link_to "Registrarse", registro_path %></li>
			 	<li><%= link_to "Salir", log_out_path %></li>
			 </ul>
		</nav>
		</section>
		
</header>
<body>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>


<%= yield %>

<div id="espacioInferior"> </div>
</body>

<footer>
		<section id ="contenedorFooter">
			<p id="derechosReservados">
				Copyright ©2012 Nemesis Corporation. Todos los derechos reservados
			</p>
		</section>
	</footer>
</html>